<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @article.description %>
</p>

<%= link_to 'Editar', edit_article_path(@article) %> |
<%= link_to 'Volver', articles_path %>
