<p id="notice"><%= notice %></p>

<%= link_to 'Volver al inicio', root_path %>
<br>
<h1>Autores</h1>

<table> 
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Ocupación</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.name %></td>
        <td><%= author.lastname %></td>
        <td><%= author.speciality %></td>
        <td><%= link_to 'Mostrar', author %></td>
        <td><%= link_to 'Editar', edit_author_path(author) %></td>
        <td><%= link_to 'Eliminar', author, method: :delete, data: { confirm: '¿Seguro que quiere eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
